div.mydiv1{
   
    font-size: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


i.myicon1{
   font-size:40px;
   color:#007bff;
}


i.myicon2{
    font-size:15px;
    color:#007bff;
 }

img.postimage{
    height:50px;
    width: 50px;
}


div.friendpost{
    min-height: 40px;
    width: 100%;
}

.postpara{
    font-size:80%;
    color:#626163;
    
}


.postcomment{
    font-size:90%;
}

div.friendpost{
    height:auto;
}



.usercomment{
    display:none;
}